/* font-family: 'Playfair Display', serif;
   font-family: 'Poppins', sans-serif;*/

:root {
  --main-color: hsl(0, 1%, 55%);
  --second-color: rgb(182, 10, 76);
  --third-color: #272142;
  --border: #828183 solid 2px;
  --box-shadow: 8px 8px 8px rgb(147, 148, 148);
}
body {
  background-color: rgb(182, 179, 179);
  font-family: "Poppins", sans-serif;
}
/*navbar*/
.nav {
  position: fixed;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
  background-color: rgb(182, 179, 179);
}
.logo {
  font-family: "Playfair Display", serif;
  color: var(--second-color);

  font-size: 24px;
  font-weight: 600;
}
.logo-img:hover {
  width: 150px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
nav li {
  list-style-type: none;
  line-height: 42px;
  margin-left: 16px;
}
li a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 20px;
}
li a:hover {
  color: var(--second-color);
}
.active {
  color: var(--second-color);
}

/*home-page*/
.home-page-main {
  text-align: center;
}
.home-page-h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  color: var(--second-color);
}
.home-page-h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--third-color);
  margin-top: 200px;
}
.home-page-h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--third-color);
  margin-top: 24px;
  margin-bottom: 48px;
}
.home-page-btn,
.btn-work-iquiry-box {
  color: var(--second-color);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--main-color);

  padding: 8px 24px;
  text-decoration: none;
}
.home-page-btn:hover,
.btn-work-iquiry-box:hover {
  background-color: #828183;
}
.home-page-cont {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 90px;
}
.proj-case,
.my-links,
.work-iquiry-box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin: 24px;
  padding: 20px;
}
.img-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
.project {
  text-align: center;
}
.proj-name {
  padding: 20px;
  color: var(--third-color);
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
}
.proj-description {
  padding: 20px;
}

/* about-page*/
.about-page {
  margin-top: 200px;
}
.about-page-content {
  margin: 30px;
}
.about-page-h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  color: var(--second-color);
}
.about-page-h3 {
  color: var(--third-color);
  font-size: 18px;
  font-weight: 700;
}
.img-about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
ul {
  padding: 12px;
}
.skills,
.education {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin: 20px auto 40px;
  padding: 24px;
}
.my-education,
.skills-title {
  font-size: 28px;
  font-weight: 700;
  color: var(--third-color);
}
.my-university {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
  color: var(--third-color);
}
/* work-page*/

.work-page-h1 {
  color: var(--second-color);
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
  margin: 200px 0 50px 0;
}
.work-page-h3 {
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: 600;
}

/* contact-page*/

.contact-page-h1 {
  margin-top: 150px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  color: var(--second-color);
}
.contact-page-h2 {
  font-size: 24px;
  margin: 24px 0;
}
.my-link {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
}
.my-links {
  text-align: center;
}
.my-link-a {
  color: var(--second-color);
}
/* footer*/

.h3-work-iquiry-box {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--third-color);
  margin: 42px 36px 18px;
}
.p-work-iquiry-box {
  margin: 0 0 42px 36px;
  font-size: 18px;
}

.my-link-footer {
  display: block;
  color: var(--third-color);
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin-top: 80px;
}
.my-link-footer:hover {
  color: var(--second-color);
}
.footer-link-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 36px;
}
.footer-link {
  margin: 0 20px;
  padding: 8px 14px;
  color: var(--second-color);
  font-size: 18px;
  border: var(--border);

  border-radius: 50%;
  background: var(--main-color);
}
.footer-link:hover {
  color: white;
  background: var(--second-color);
}
.autor {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.sourse {
  color: var(--third-color);
}
.sourse:hover {
  font-weight: 700;
}

/*media*/
@media (max-width: 900px) {
  .home-page-h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }
  .proj-name {
    font-size: 36px;
  }
  .about-page {
    margin-top: 0px;
  }
  .about-page-main {
    text-align: center;
    padding: 0;
  }
  .img-about {
    width: 60%;
    margin-top: 28px;
  }

  .about-education {
    margin: 8px;
    padding: 4px;
  }
  .education {
    width: 95%;
  }
  .skills {
    width: 44%;
  }
  .proj-case {
    width: 90%;
    margin: 8px auto;
  }
  .home-page-btn,
  .btn-work-iquiry-box {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .footer-link {
    padding: 10px 10px;
  }
  .jj {
    text-align: center;
  }
}
@media (max-width: 430px) {
  .nav {
    width: 100%;
  }
}
